<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_FILE" value="fc" />
    <property name="LOG_PERFORMANCE_FILE" value="fc-performance"/>
    <property name="logLevelJms" value="${JMS_LOG_LEVEL:-WARN}"/>
    <property name="logLevelSpringWeb" value="${SPRING_WEB_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'[\r\n]', ''}%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
