<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epam.vote.repository.IMenuRepository">
    <resultMap id="MenuResultMap" type="Menu">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="createdUser" property="created_user"/>
        <result column="updatedUser" property="updated_user"/>
        <result column="createdDate" property="created_date"/>
        <result column="updatedDate" property="updated_date"/>
        <result column="recordVersion" property="record_version"/>
    </resultMap>

    <select id="findMenuOfRestaurant" resultMap="MenuResultMap">
        select
            d.id,
            d.name,
            rd.price
        from epam.dish as d
        inner join epam.restaurant_dish_map as rd on d.id = rd.dish_id
        inner join epam.restaurant as r on r.id = rd.restaurant_id
        where r.id = #{idRestaurant}
    </select>
</mapper>
