<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epam.vote.repository.IRestaurantRepository">
    <resultMap id="RestaurantResultMap" type="Restaurant">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="created_user" property="createdUser"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="record_version" property="recordVersion"/>
    </resultMap>

    <sql id="baseEntityColumns">
            id,
            created_user,
            updated_user,
            created_date,
            updated_date,
            record_version
    </sql>

    <sql id="restaurantColumns">
            id,
            name,
            address
    </sql>

    <select id="findAllRestaurants" resultMap="RestaurantResultMap">
        select
             <include refid="restaurantColumns"/>
        from epam.restaurant
    </select>

    <insert id="createRestaurant" parameterType="Restaurant">
        insert into epam.restaurant(
             <include refid="restaurantColumns"/>,
              created_user)
        values (
                #{id},
                #{name},
                #{address},
                #{createdUser});
    </insert>

    <select id="findById" resultMap="RestaurantResultMap">
        select
             <include refid="restaurantColumns"/>,
              created_user
        from epam.restaurant
        where id = #{id}
    </select>
</mapper>
