<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epam.vote.repository.IRestaurantDishMapRepository">

    <insert id="saveMenuToRestaurant">
        insert into epam.restaurant_dish_map(
                id,
                price,
                restaurant_id,
                dish_id)
        values (
                'uuid_generate_v4()',
                #{menu.price},
                #{restaurantId},
                #{menu.id});
    </insert>
</mapper>
